
.vs/VSWorkspaceState.json
.vs/get-next-line/v15/.suo
.vs/get-next-line/v15/Browse.VC.db
.vs/get-next-line/v15/Browse.VC.opendb
.vs/get-next-line/v15/ipch/AutoPCH/d7e9746ac3316e7d/MAIN.ipch
.vs/get-next-line/v15/ipch/AutoPCH/f355f6db5aca1f49/GET_NEXT_LINE.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
